    <script id="index-template" type="x-tmpl-mustache/template">

                <div class="parallax-container">
                    <div class="parallax" id="parallax-back"><img src="static/geometric.png"></div>
                </div>

                <div class="section white">
                    <div class="row container">
                        <h2> Welcome in to the Event Planner!</h2>
                        <h4>Start creating or attending some events!</h4>
                        <br><br>
                    </div>
                </div>

                <div class="parallax-container">
                    <div class="parallax" id="parallax-back"><img src="static/geometric.png"></div>
                </div>
                
            <br><br>

    </script>
    